{% extends 'base.html' %}

{% block title %}
All Blog Posts
{% endblock title %}

{% block content %}

<section class="mt-5 mb-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Blog :: <small>All Posts</small>
                </h3>

                {% if posts %}
                    {% for post in posts %}
                        <article class="blog-post">
                            <h2 class="blog-post-title">{{ post.title|truncatewords:7 }}</h2>
                            <p class="blog-post-meta">{{ post.published_at|timesince }} by <a href="#">{{ post.user.get_full_name }}</a></p>
        
                            {{ post.content|safe|truncatewords:25 }}
                            <a href="blog-single.html">Read More &RightArrow;</a>
                            <hr>
                        </article>
                    {% endfor %}
                {% else %}
                    <p>No posts to display</p>
                {% endif %}



                <nav class="blog-pagination" aria-label="Pagination">
                    <a class="btn btn-outline-primary" href="#">Older</a>
                    <a class="btn btn-outline-secondary disabled">Newer</a>
                </nav>

            </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic">About</h4>
                        <p class="mb-0">
                            <span class="company_name">HopeRite.com</span> provides thoughts on the education and lifestyle of the global community. Visitors to our site are positively impacted since thought-provoking contents inspire lofty imagination. Hand in hand we are bridging knowledge across the world.
                        </p>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Categories</h4>
                        <ol class="list-unstyled mb-0">
                            <li><a href="#">Education</a></li>
                            <li><a href="#">Health</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Relationship</a></li>
                        </ol>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Elsewhere</h4>
                        <ol class="list-unstyled">
                            <li><a href="https://www.youtube.com/channel/UCDCdrBaqeGTaTcgd26v3phw" target="_blank">YouTube</a></li>
                            <li><a href="https://twitter.com/HoperiteNews" target="_blank">Twitter</a></li>
                            <li><a href="https://www.facebook.com/hoperiteNews/" target="_blank">Facebook</a></li>
                            <li><a href="https://pin.it/5UbpF3L" target="_blank">Pinterest</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

    