{% extends 'base.html' %}

{% block metatitle %}
<meta name="title" content="HopeRite - Blog Posts">
{% endblock metatitle %}

{% block metakeywords %}
<meta name="keywords" content="hoperite, hoperite news, nigerian news, hoperite world news, hoperite blogs, hoperite, Blog Posts">
{% endblock metakeywords %}

{% block title %}
All Blog Posts
{% endblock title %}

{% block content %}

<section class="mt-5 mb-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Blog :: <small>All Posts</small>
                </h3>

                {% if posts %}
                    {% for post in posts %}
                        <article class="blog-post">
                            <h2 class="blog-post-title">{{ post.title|truncatewords:7 }}</h2>
                            <p class="blog-post-meta">{{ post.published_at|timesince }} by <a href="#">{{ post.user.get_full_name }}</a></p>
        
                            {{ post.content|safe|truncatewords:25 }}
                            <a href="blog-single.html">Read More &RightArrow;</a>
                            <hr>
                        </article>
                    {% endfor %}
                {% else %}
                    <p>No posts to display</p>
                {% endif %}



                <nav class="blog-pagination" aria-label="Pagination">
                    <a class="btn btn-outline-primary" href="#">Older</a>
                    <a class="btn btn-outline-secondary disabled">Newer</a>
                </nav>

            </div>

            {% include 'blogs/_sidebar.html' with tags=tags %}
        </div>
    </div>
</section>

{% endblock content %}

    