{% extends 'base.html' %}

{% block title %}
 Contact
{% endblock title %}

{% block content %}

<section class="mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col-4 mx-auto">
                <address>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Facebook:</strong>
                            <a href="https://www.facebook.com/hoperiteNews/" target="_blank">@hoperiteNews
                            </a>
                        </li>
                        <li class="list-group-item">
                            <strong>YouTube:</strong>
                            <a href="https://www.youtube.com/channel/UCDCdrBaqeGTaTcgd26v3phw" target="_blank">@Hoperite
                            </a>
                        </li>
                        <li class="list-group-item">
                            <strong>Twitter:</strong>
                            <a href="https://twitter.com/HoperiteNews" target="_blank">@HoperiteNews
                            </a>
                        </li>
                        <li class="list-group-item">
                            <strong>Pinterest:</strong>
                            <a href="https://pin.it/5UbpF3L" target="_blank">@hoperitenews
                            </a>
                        </li>
                    </ul>
                </address>
            </div>
            <div class="col-4">
                <address>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Email:</strong>
                            <a href="mailto:hoperite@hoperite.com">Send Us an Email
                            </a>
                        </li>

                    </ul>
                </address>
            </div>
        </div>
    </div>
</section>

{% endblock content %}