{% extends 'base.html' %}

{% block content %}

<section class="mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col-4 mx-auto">
                <address>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Facebook:</strong>
                            <a href="https://facebook.com/followHopeRite" target="_blank">@Facebook
                            </a>
                        </li>
                        <li class="list-group-item">
                            <strong>instagram:</strong>
                            <a href="https://instagram.com/followHopeRite" target="_blank">@instagram
                            </a>
                        </li>
                        <li class="list-group-item">
                            <strong>twitter:</strong>
                            <a href="https://twitter.com/followHopeRite" target="_blank">@twitter
                            </a>
                        </li>
                    </ul>
                </address>
            </div>
            <div class="col-4">
                <address>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Email:</strong>
                            <a href="mailto:hoperite@hoperite.com">Send Us an Email
                            </a>
                        </li>

                    </ul>
                </address>
            </div>
        </div>
    </div>
</section>

{% endblock content %}